.bar {
    margin-bottom: 5rem;
    height: 5rem;
    animation: fade-in 1s ease-in 1s backwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.bar form {
    position: relative;
    width: 35rem;
    border-radius: 100px;
    margin: 0 auto;
    background-color: rgba(70, 61, 124, 0.56);
}

.bar form:hover {
    box-shadow: 0 .4rem 1.2rem rgba(236, 173, 48, 0.511);
    scale: 1.01;
    background: linear-gradient(to left, #e66465, #9198e5);
}

.bar form:hover button::before {
    color: #fff;
}

.bar input, .bar button {
    border: none;
    outline: none;
    background: transparent;
}

.bar input {
    width: 100%;
    height: 4.2rem;
    padding-left: 1.3rem;
    text-align: left;
}

.bar button {
    height: 4.2rem;
    width: 4.2rem;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.bar input::placeholder {
    position: absolute;
    top: .7rem;
    left: 2rem;
    font-size: 2rem;
    color: #eB565B;
}

.bar button::before {
    content: "\27A8";
    font-size: 2rem;
    color: #eB565B;
}

#vp {
    position: relative;
    top: .3rem;
    width: 2rem;
    height: 2rem;
}

a {
    list-style: none;
}

li {
    list-style: none;
}

.mus {
    z-index: 20;
    position: fixed;
    top: 7rem;
    right: 2rem;
}

.music {
    font-weight: bold;
    font-size: 2.4rem;
    letter-spacing: -0.05rem;
    position: relative;
    color: #eB565B;
    border: 0;
    border-radius: 0.4rem;
    background-color: transparent;
    overflow: hidden;
    padding: .2rem;
}

.music:active {
    transform: translateY(0.2rem);
}

.music span {
    background-color: #333333;
    display: block;
    padding: 0.8rem 2.5rem;
    border-radius: 0.35rem;
}

.music span:hover {
    cursor: pointer;
}

.music::after {
    content: '';
    position: absolute;
    background: conic-gradient(from 180deg at 50% 50%, #00D1FF 0deg, #EE27FF 106.88deg, #205EFF 206.25deg, #00F0FF 286.87deg, #00D1FF 360deg);
    top: -200px;
    right: -200px;
    bottom: -200px;
    left: -200px;
    z-index: -1;
    animation: 3s rotate linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}