@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
:root{
    font-size: 62.5%;
}
* {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

body {
    background-color: #121725;
    font-size: 1.6rem;
}


.top {
    box-shadow: .2rem .4rem 1.2rem rgba(0, 0, 0, 0.3);
    height: 5rem;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #333333;
    margin-bottom: 5rem;
}

.top span {
    display: inline-block;
}

.slogo {
    display: inline-block;
    font-size: 3rem;
    font-weight: bolder;
    letter-spacing: -0.1rem;
    position: relative;
    color: #eB565B;
    right: -16vw;
    top: 0.5vh;
}

.title {
    text-align: center;
    height: 15rem;
}

.personal_detail {
    color: #fff;
    padding: .2rem;
    font-size: 2.4rem;
    display: inline-block;
    position: absolute;
    right: 16vw;
    top: 1vh;
}

a, a:visited, a:link, a:hover {
    color: rgb(221, 223, 235) !important;
}

.personal_detail a {
    text-decoration: none;
}

.personal_detail img {
    border-radius: .2rem;
    position: relative;
    top: .2rem;
    margin-right: .8rem;
}

@keyframes bottomInto {
    0%{
        opacity: 0;
        transform: translateY(-130px);

    }
    83%{
        transform: translateY(10px);
    }
    100%{
        opacity: 100%;
        transform: translateY(0);
    }
}

.content {
    margin: auto;
    width: 1150px;
    min-height: 1000px;
    padding: 5px;
}

.gun {
    box-shadow: 0 4px 12px rgba(235, 86, 91, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0E1321;
    border-radius: 10px;
    height: 256px;
}

.types {
    background-color: gray;
    width: 1000px;
    height: 2000px;
}

.gun:hover {
    scale: 1.02;
    box-shadow: 2px 4px 12px rgba(236, 173, 48, 0.696);
    background: linear-gradient(
            90deg,
            #f9d923,
            #00a19d,
            #0c87b7,
            #cb49ff,
            #ff6666,
            #f9d923
    );
    background-size: 400%;
    animation: glow 12s linear infinite;
}

.cbar {
    letter-spacing: 2px;
    margin: auto auto 10px;
    padding: 0;
    background-image: linear-gradient(to right, #e66465, #9198e5);
    width: 1195px;
    height: 50px;
    border-radius: 5px;
}

.gun .wep {
    filter: drop-shadow(0px 3px 6px rgba(236, 173, 48, 0.379));
    margin-top: 10px;
    width: 94%;
    height: auto;
}

.clear{
    clear: both;
}

.gun .name {
    color: #dddfeb;
    height: 40px;
    width: 100%;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
}

.mainContent {
    float: left;
    background: #192036;
    width: 40vh;
    height: 525px;
    border-radius: 10px;
    margin-bottom: 3rem;
}

.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainContent .p1 {
    margin-top: 10px;
    color: #ff6666;
}

.mainContent .wep {
    width: 80%;
}
.mainContent .frenzy{
    width: 50%;
}

.rightContent .frenzy{
    width: 60%;
}

.mainContent .detailsOfweapon {
    margin-top: 14px;
    width: 100%;
}

.mainContent .leftSpan {
    margin-left: 24px;
    color:#8F8F99;
    float: left;
}

.detailsOfweapon .rightSpan img {
    position: relative;
    top: 5px;
    right: -2px;
    width: 20px;
    height: auto;
}

.mainContent .rightSpan {
    margin-right: 24px;
    color: #D1D3E1;
    float: right;
}

.mainContent hr {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 40vh;
}

.rightContent .gun .name {
    font-size: 18px;
}

video {
    width: 900px;
    border-radius: 10px;
}

.videobox {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.38));
    width: 1150px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.videobox .vcontent {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 10;
    margin-top: -8px;
    text-align: center;
    font-size: 34px;
    color: #eB565B;
    background: #181F34;
    width: 900px;
}

.rightContent .gun .lev_logo {
    filter: drop-shadow(0px 3px 6px rgba(192, 48, 224, 0.38));
    position: relative;
    top: 9px;
    height: 32px;
    width: auto;
}

.rightContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding-left: 12px;
    width: auto;
    min-height: 500px;
}

.cbar p {
    font-size: 24px;
    line-height: 50px;
    margin-left: 20px;
    font-weight: bolder;
    color: #eee;
}

a, a:visited, a:link, a:hover {
    color: rgb(221, 223, 235) !important;
}

.content .mainContent .actionBtn button:hover::before {
    opacity: 1;
    z-index: -1;
}

.content .mainContent .actionBtn button {
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 700;
    background: #242040;
    color: red;
    cursor: pointer;
    transition: .4s;
}

.content .mainContent .actionBtn {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.content .mainContent .actionBtn button:hover {
    scale: 1.03;
    z-index: 1;
    border: transparent;
    background: linear-gradient(
            90deg,
            #e66465,
            #eB565B
    );
    background-size: 400%;
    box-shadow: 0 3px 10px rgb(2, 4, 24);
    animation: glow 12s linear forwards;
}