.content ul {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(265px, 1fr));
    gap: 3rem;
    padding: 3rem;
    width: 70%;
    min-height: 50rem;
}

@keyframes glow {
    from {
        background-position: 0;
    }
    to {
        background-position: 400%;
    }
}

.box-content .pri_logo {
    position: relative;
    top: .4rem;
    right: .6rem;
    width: auto;
    height: 2.4rem;
}

.content a {
    text-decoration: none;
}

.box-content .lev_logo {
    position: relative;
    top: .8rem;
    left: .6rem;
    width: auto;
    height: 3.2rem;
}

.box-content {
    filter: drop-shadow(0px 3px 6px rgb(255, 0, 238));
    font-size: 2.4rem;
    color: #fff;
    text-align: center;
    width: 100%;
    transform: translateX(-50%);
    position: relative;
    opacity: 0;
    top: 6%;
    left: 50%;
    z-index: 1;
}

.content .knife {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    background-color: rgba(70, 61, 124, 0.56);
    border-radius: 89% 11% 90% 10% / 9% 88% 12% 91%;
    height: 24rem;
    transition: all 0.3s !important;
}


.content .knife:hover {
    scale: 1.03;
    box-shadow: .2rem .4rem 1.2rem rgba(236, 173, 48, 0.696);
    background: linear-gradient(
            90deg,
            #f9d923,
            #00a19d,
            #0c87b7,
            #cb49ff,
            #ff6666,
            #f9d923
    );
    background-size: 400%;
    animation: glow 12s linear infinite;
}

.content .knife:hover .name {
    color: #eB565B;
}

.knife:hover .box-content {
    animation: fade-in 1s linear forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.knife .name {
    width: 100%;
    font-size: 2.5rem;
    text-align: center;
    color: #586B73;
}

.content .knife .wep {
    filter: drop-shadow(0px 3px 6px rgba(236, 173, 48, 0.379));
    position: relative;
    margin-top: -.5rem;
    width: 100%;
    height: auto;
    justify-self: center;
}

.frenzy {
    filter: drop-shadow(0px 3px 6px rgba(236, 173, 48, 0.379));
    margin: .5rem;
    width: 70%;
}

.eg {
    filter: drop-shadow(0px 3px 6px rgba(236, 173, 48, 0.379));
    width: 85%;
}

.paint {
    filter: drop-shadow(0px 3px 6px rgba(236, 173, 48, 0.379));
    width: 75%;
    margin-top: -1rem;
    margin-bottom: -1.5rem;
}