@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
:root{
    font-size: 62.5%;
}
* {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #121725;
}
.top {
    box-shadow: .2rem .4rem 1.2rem rgba(0, 0, 0, 0.3);
    height: 5rem;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #333333;
    margin-bottom: 5rem;
}
.top span {
    display: inline-block;
}
.slogo {
    display: inline-block;
    font-size: 3rem;
    font-weight: bolder;
    letter-spacing: -0.1rem;
    position: relative;
    color: #eB565B;
    right: -16vw;
    top: 0.5vh;
}
.personal_detail {
    color: #fff;
    padding: .2rem;
    font-size: 2.4rem;
    display: inline-block;
    position: absolute;
    right: 16vw;
    top: 1vh;
}
a, a:visited, a:link, a:hover {
    color: rgb(221, 223, 235) !important;
}
.personal_detail a {
    text-decoration: none;
}
.personal_detail img {
    border-radius: .2rem;
    position: relative;
    top: .2rem;
    margin-right: .8rem;
}
.cbar {
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.52);
    text-align: center;
    margin: auto;
    padding: 0;
    background-image: linear-gradient(to right, #e66465, #9198e5);
    max-width: 1195px;
    height: 50px;
    border-radius: 5px;
}

.cbar p {
    letter-spacing: 6px;
    font-size: 24px;
    line-height: 50px;
    margin-left: 20px;
    font-weight: bolder;
    color: #eee;
}

.content {
    border-radius: 10px;
    margin: 20px auto;
    max-width: 1200px;
    min-height: 200px;
    background: #192036;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 20px;
}

.goods {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-radius: 10px;
    background: #0E1321;
    min-height: 230px;
}

.mainI {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #0E1321, #192036);
    margin-left: 20px;
}

#maind p {
    filter: drop-shadow(0px 3px 6px rgba(236, 173, 48, 0.379));
    font-size: 28px;
    margin-bottom: 14px;
    color: #eB565B;
}


#maind {
    flex-direction: column;
}

#frenzy {
    width: 65%;
    filter: drop-shadow(0px 3px 6px rgba(236, 173, 48, 0.379));
    height: auto;
}

#wep {
    width: 94%;
    filter: drop-shadow(0px 3px 6px rgba(236, 173, 48, 0.379));
    height: auto;
}

.mainI .num {
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
}

.mainI .num1 {
    font-size: 42px;
    color: #e66465;
}

.mainI .num11 {
    line-height: 64px;
    font-size: 24px;
    color: #e66465;
}

.collection{
    font-size: 34px;
    color: #e66465;
    font-weight: bold;
    text-align: center;
    margin-left: 40px;
    line-height: 65px;
}

.co_de{
    color: #eB565B;
    font-size: 28px;
    text-shadow: 0 3px 3px rgba(236, 173, 48, 0.3);
}

.mainI .num2 {
    font-size: 56px;
    color: gray;
}

button {
    transition-duration: 0.2s;
}

button:active {
    transform: translateY(6px);
}

.mainI button:hover {
    background-color: #e66465;
    color: #eee;
}

.mainI .num2 .left {
    right: 14px;
    top: -4px;
}

.mainI .num2 .right {
    right: -14px;
    top: -4px;
}

.sum {
    border-radius: 10px;
    margin: 20px auto;
    width: 1200px;
    height: auto;
    background: #192036;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    padding: 10px;
}

.address {
    border-radius: 10px;
    margin: 20px auto;
    width: 1200px;
    min-height: 150px;
    background: #192036;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 12px;
    padding: 5px;
}

.pAddress{
    padding: 14px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    font-size: 18px;
    color: #e66465;
    background-image: linear-gradient(to right, #0E1321, #192036);
}


.pAddress.selected{
    border: 1px solid #e66465;
    background: linear-gradient(
            90deg,
            #333333,
            #242040,
            #192036,
            #0E1321,
            #0E1321
    );
    background-size: 400%;
    animation: glow 12s linear infinite;
}

@keyframes glow{
    from{
        background-position: 0;
    }
    to{
        background-position: 400%;
    }
}

.det {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    border: 3px solid rgba(12, 135, 183, 0.2);
    background: #0E1321;
}

.order {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    border: 3px solid rgba(12, 135, 183, 0.2);
    background: #0E1321;
}

.det .sumPricePre, .cnt {
    font-weight: bold;
    color: #e66465;
    font-size: 32px;
}

.det .sumPrice, .mcnt {
    margin-top: 10px;
    color: #e66465;
    font-size: 24px;
}

.submit, .selectAll {
    font-size: 34px;
    color: #e66465;
    border: 1px solid #e66465;
    border-radius: 4px;
    background: transparent;
    margin-top: 4px;
    width: 340px;
    height: 70px;
}

.order button:active {
    color: #eee;
    background: #e66465;
}

/* 模态（背景） */
.flexWindow {
    display: none; /* 默认隐藏 */
    position: fixed; /* 留在原地 */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* 全屏宽度 */
    height: 100%; /* 全屏高度 */
    background-color: rgb(0,0,0); /* 后备颜色 */
    background-color: rgba(0,0,0,0.4); /* 黑色带不透明度 */
}

/* 模态内容/框 */
.window-content {
    position: relative;
    background-color: #121725;
    margin:9.75% auto; /* 15% 从顶部和居中 */
    padding: 15px;
    border-radius: 10px;
    width: 64%; /* 可能或多或少，取决于屏幕大小 */
    min-height: 480px;
    height: 61%;
}

/* 关闭按钮 */
.close {
    color: #aaa;
    position: absolute;
    top: -24px;
    left: 95%;
    font-size: 64px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.windowBar{
    text-align: center;
    border-radius: 10px;
    color: #eee;
    line-height: 50px;
    font-size: 28px;
    margin: 20px auto;
    background-image: linear-gradient(to right, #e66465, #9198e5);
    height: 55px;
    width: 40%;
}

.window-content .content{
    width: 40%;
}

#finalPriceFather{
    background: #192036;
}

#finalPrice{
    color: #e66465;
}